---
import type { Duo } from "@/lib/types";
interface Props {
  name: string;
  listDuos: Duo[];
}

const { name, listDuos } = Astro.props;

const groupsColors: Record<string, string> = {
  A: "hover:from-red-900",
  B: "hover:from-yellow-900",
  C: "hover:from-emerald-900",
  D: "hover:from-cyan-900",
  E: "hover:from-rose-900",
  F: "hover:from-amber-900",
  G: "hover:from-teal-900",
  H: "hover:from-violet-900",
};
---

<article
  class={`relative grid grid-cols-[0.8fr_1fr] border rounded-lg bg-gradient-to-b from-stone-800 to-black ${groupsColors[name]} hover:scale-105 hover:saturate-150 transition-[transform,filter]`}
>
  <a
    href={`/grupos/${name}`}
    class="absolute block inset-0 z-20"
    title={`Ver enfretamientos del Grupo ${name}`}></a>
  <div
    class="absolute inset-0 h-full w-full bg-[radial-gradient(#ffffff35_1px,transparent_1px)] [background-size:14px_14px]"
  >
  </div>
  <div class="flex justify-center items-center">
    <h2
      class="text-3xl text-center font-bold"
      transition:name=`group-name-${name}`
    >
      Grupo
      <br />
      <span>
        {name}
      </span>
    </h2>
  </div>
  <div>
    <ul class="grid grid-rows-3 h-full">
      {
        listDuos.map((duo) => {
          return (
            <li class="border flex flex-col justify-center">
              <ul class="px-3 py-6 list-disc list-inside">
                <li>{duo.player1.name}</li>
                <li>{duo.player2.name}</li>
              </ul>
            </li>
          );
        })
      }
    </ul>
  </div>
</article>
